# Mengabaikan folder modul raksasa
node_modules/

# Mengabaikan file rahasia (PENTING!)
.env

# Mengabaikan folder video agar GitHub tidak penuh
uploads/

# Mengabaikan database lokal (agar PC baru mulai dari bersih)
database.sqlite